@page
@model CCT.WebAPI.Pages.PeopleModel


<h2>@ViewData["Message"]</h2>

<form method="post">

    <table class="table">

        <thead>
            <tr>
                <th>
                    Firstname
                </th>
                <th>
                    Lastname
                </th>
                <th>
                    Phonenumber
                </th>
                <th>
                    Record Time
                </th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model.PeopleOverview)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(_ => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(_ => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(_ => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(_ => item.RecordTime)
                    </td>
                </tr>
            }

        </tbody>

    </table>
</form>