@page
@model CCT.WebAPI.Pages.RegistrationPageModel
@{
}

<!DOCTYPE html>
<html lang="de">
    <head>
    <meta charset="utf-8" />
    </head>
    <body>
        <h1>Registrierung</h1>

        <form method="post">
            <div class="form-group">
                <label class="control-label">Vorname</label>
                <input autocomplete="off" asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nachname</label>
                <input autocomplete="off" asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Telefonnummer</label>
                <input autocomplete="off" asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div>
                    <label class="control-label">Letzte Testung</label>
                </div>

                <div style="float:left">
                    <input type="date" asp-for="@Model.LastTestedDate" class="form-control" />
                </div>
                <div style="float:left">
                    <input type="time" asp-for="@Model.LastTestedTime" class="form-control" />
                </div>
            </div>

            <br style="clear: both;">


            <div class="form-group">
                <label class="control-label">Geimpft:</label>
                @Html.CheckBoxFor(model => model.IsVaccinated)
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Registrieren" class="btn btn-default" />

                <input asp-page-handler="Reset" type="submit" value="Löschen" class="btn btn-secondary" />
            </div>
            @if (Model.LabelTextAfterRegistration != null)
            {
                <div class="form-group">
                    <p class="text-success">@Model.NameAfterRegistrationText</p>
                    <p class="text-success">@Model.LabelTextAfterRegistration</p>
                </div>

                <meta http-equiv="refresh" content="5" />
            }

        </form>
    </body>
</html>

    
